<!DOCTYPE html>
<html ng-app="helloI18N">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Hello World</title>

    <link rel="stylesheet" href="css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="feedhenry.js"></script>
    <script src="hello.js"></script>
  </head>

  <body>
  <header class="header-footer-bg">
      <div class="center">
          <h3>FeedHenry
              <small>QuickStart - HTML5</small>
          </h3>
      </div>
  </header>

  <div id="count" class="" ng-controller="helloController">
      <div id="formWrapper">
          <p id="description">This is a basic Javascript App that can take in your name, send it to a cloud app and display the response.</p>
          <br>

	  <select id="lang" ng-model="lang" ng-options="l.name for l in languages">
	  </select>
          <div class="input-div">
              <input id="hello_to" type="text" class="input-text" placeholder="Enter Your Name Here."/>
          </div>

          <br>

          <button id="say_hello" type="button" class="say-hello-button" ng-click="send()">Say Hello From The Cloud</button>
          <div id="cloudResponse" class="cloudResponse"></div>
      </div>
  </div>

      <footer class="header-footer-bg">
          <div>
              <small class="right">
                  <!-- v.&nbsp;{{ version }} -->
              </small>
          </div>
      </footer>

  </body>
</html>
